<h1>Users</h1>
<table>
  <thead>
    <tr>
      <td>image</td>
      <td>name</td>
      <td></td>
    </tr>
  </thead>

  <tbody>
    <%= @users.each do |user| %>
    <tr>
      <td></td>
      <td><%= user.name %></td>
      <td><%= link_to "Show" book_path(:id) %></td>
    </tr>
  </tbody>
</table>