<h1>Users</h1>
<table>
  <thead>
    <tr>
      <td>image</td>
      <td>name</td>
      <td></td>
    </tr>
  </thead>

  <tbody>
    <%= @users.each do |user| %>
    <tr>
      <td><%= image_tag user.get_profile_image(100,100) %></td>
      <td><%= user.name %></td>
      <td><%= "Show" %></td>
    </tr>
    <% end %>
  </tbody>
</table>