<%= render 'books/list', books: @book %>
<h1>Books</h1>
<table>
  <thead>
    <tr>
      <td>Title</td>
      <td>opinion</td>
    </tr>
  </thead>

  <tbody>
  <% @books.each do |book| %>
    <tr>
      <td><%= link_to image_tag @user.get_profile_image(100,100) %></td>
      <td><%= book.title %></td>
      <td><%= book.body %></td>
    </tr>
  </tbody>
  <% end %>
</table>

