<h1>Books</h1>
<table>
  <thead>
    <tr>
      <td>Title</td>
      <td>opinion</td>
    </tr>
  </thead>

  <tbody>
  <%= @books.each do |book| %>
    <tr>
      <td><%= book.title %></td>
      <td><%= book.opinion %></td>
    </tr>
  </tbody>
  <% end %>
</table>

